body {
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.main{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 360px 1fr;
    grid-gap: 8px;
}

.nav-bar {
    background-color: #000;
    grid-column: 1 / -1;
    height: 64px;
}

.sidebar{
    background-color: #121212;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.library-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.library-header h4 {
    margin: 0 0 0 12px;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    justify-content: flex-start;
    cursor: pointer;
}

.library-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.create {
    background-color: #1F1F1F;
    border: none;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 8px 16px;
    color: #fff;
}

.create:hover {
    background-color: #2a2a2a;
    content: attr("Create a playlist, album, or Jam");
}

.expand-library {
    background-color: transparent;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.expand-library i {
    font-size: 12px;
    color: #b3b3b3;
}

.expand-library:hover {
    background-color: #2a2a2a;
}

.toggle-library {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
}

.toggle-library button {
    background-color: #1F1F1F;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 8px 16px;
    color: #fff;
}

.toggle-library button:hover{
    background-color: #2a2a2a;
}

.library-search {
    display: flex;
    padding: 2px 16px 0;
    justify-content: space-between;
}

.library-search i {
    align-items: center;
    font-size: 0.8rem;
    padding: 6px 12px 4px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.1s ease;
    margin-bottom: 18px;
}

.library-search i:hover{
    opacity: 1;
    transform: scale(1.05);
}

.recents-library{
    opacity: 0.7;
    transition: all 0.1s ease;
}

.recents-library a {
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease;
}

.recents-library:hover {
    opacity: 1;
    transform: scale(1.01);
}

.row-button{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
    margin: 0px 15px;
    border-radius: 8px;
}

.row-icon {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: linear-gradient(135deg, #450af5, #c4efd9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-icon i {
    font-size: 20px;
}

.row-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row-info .title{
    font-weight: 600;
    font-size: 0.9rem;
}

.row-info .subtext {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #b3b3b3;
    font-size: 0.8rem;
}

.row-button .subtext i{
    color: green;
    transform: rotate(40deg);
}

.row-button:hover{
    background-color: #1F1F1F;
}

.row-button:hover .row-icon{
    background: linear-gradient(135deg, #450af5c1, #c4efd9b3);
}

.row-button .row-icon .fa-play{
    display: none;
}

.row-button:hover .row-icon .fa-heart{
    display: none;
}

.row-button:hover .row-icon .fa-play{
    display: contents;
}

.main-content {
    overflow: auto;
    background-color: #121212;
}

.music-player {
    background-color: #000;
    grid-column: 1 / -1;
    height: 72px;
}